@import "fonts.css";

/* h3{font-family: "Roboto-Regular";} */


.page-header {
    background-image: url('../images/ban3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    margin-top: 0px;
    object-fit: contain;
}

.topnav-container h2 {
    font-family: "Fontawesome-webfont";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 5px !important
}
.topnav-container h2 span {
    color: #1BFBF1;
}

.quicklinks {
      color: #ffffff;
      padding-top: 15px;
      padding-left: 32px;
  }

  .quicklinks a {
    color: #ffffff;
}
.quicklinks a:hover{
    opacity: 0.7;
}

.quicklinks .right-quicklink {
      float: right;
      padding-left: 5px; 
      margin-top: -20px;
  }
  .quicklinks .right-quicklink .fa {
    padding-left: 15px; 
}

/* NavBar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.navbar-nav li a{
    color: #ffffff !important;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    color: #E55111;
    opacity: 0.7;
  }
  
.navbar-nav li .active {
    color: #E55111 !important;
    background-color: transparent !important;
  }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #E55111 !important;
    background-color: transparent;
}

.search-btn .form-group .form-control {
    border-radius: 0px;
    background: #BA5129;
    border: 1px solid #BA5129;
    margin-top: 15px;
}

.search-btn .form-group .fa-search {
    position: absolute;
    left: 98%;
    top: 24px;
    z-index: 1;
    color: #fff;
}

.navbar-search {
    margin-top: -50px;
}

.navbar-toggle {
    float: left !important
}


.pageheader-left {
    padding: 40px;
}

.pageheader-left h2 {
    font-family: "Fontawesome-webfont";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
}

.pageheader-left p {
    color: #cccccc;
    padding-top: 15px;
    padding-bottom: 60px;
}
.pageheader-left button {
    background: #E55111;
    color: #ffffff;
    border: 1px solid #E55111;
    text-transform: uppercase;
    padding: 6px 12px;
}

.pageheader-right {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: -20px;
}

.pageheader-right h3 {
    color: #fff;
    text-align: center;
}

.pageheader-right label {
    color: #ffffff;
    font-weight: lighter;
    padding-top: 5px;
}

.pageheader-right .form-control {
    border-radius: 0px;
}

.pageheader-right .ilabel {
    padding-left: 16px;
}

.pageheader-right button {
    background: #E55111;
    color: #ffffff;
    border: 1px solid #E55111;
    text-transform: uppercase;
    padding: 6px 12px;
    float: right;
    margin-top: -10px;
    margin-bottom: 10px;
}


/* Second Row */

.second-row {
    height: 45vh;
    margin: 0;
    padding: 0;
    margin-top: -21px;
}

.second-row-right {
    background: url('../images/ab6.jpg');
    height: 45vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.second-row-left h3 {
    color: #E55111;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 20px;
}

.second-row-left p {
    color: #bbb;
    padding-left: 15px;
    padding-right: 15px;
}

.second-row-left button {
    background: #E55111;
    color: #ffffff;
    border: 1px solid #E55111;
    padding: 6px 12px;
    margin-top: 20px;
}

/* Third Row */
.third-row {
    height: 35vh;
    margin: 0;
    padding: 0;
    /* margin-bottom: 40px; */
}

.third-row-left {
    background: url('../images/ab4.jpg');
    height: 35vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.third-row-left h3 {
    font-family: "Fontawesome-webfont";
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.third-row-left p {
    font-family: "Fontawesome-webfont";
    color: #fff;
    text-align: center;
}

.third-row-left button {
    background: #E55111;
    color: #ffffff;
    border: 1px solid #E55111;
    padding: 6px 12px;
    margin-top: 20px;
    text-transform: uppercase;
}

.third-row-center {
    background: #E25112;
    height: 35vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.third-row-center h3 {
    font-family: "Fontawesome-webfont";
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.third-row-center p {
    font-family: "Fontawesome-webfont";
    color: #fff;
    text-align: center;
}

.third-row-center h6 {
    text-align: center;
    letter-spacing: 2px;
}

.third-row-center .button1 {
    background: #000;
    color: #ffffff;
    border: 1px solid #000;
    padding: 6px 12px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-right: 7px;
}

.third-row-center .button2 {
    background: #000;
    color: #ffffff;
    border: 1px solid #000;
    padding: 6px 12px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 7px;
}


.third-row-right {
    background: url('../images/ab5.jpg');
    height: 35vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


/* fourth row */
.fourth-row h2 {
    color: #2A75B3;
    text-align: center;
    font-size: 3em;
    margin: 60px;
}

.fourth-row-left h4 {
    color: #E25112;
    font-weight: bold;
    font-size: 3em;
}

.fourth-row-left h4 span {
    font-size: 16px !important;
    font-weight: lighter !important;
}

.fourth-row-left p {
    color: #999;
    /* text-align: center; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.fourth-row-left .icons {
    margin: 20px 0 0 -30px;
}

.fourth-row-left .icons .fa {
    color: #E25112;
}

.fourth-row-left .icons span {
    color: #E25112;
}

.fourth-row-left .icons ul li {
    float: left;
    list-style-type: none;
}

.fourth-row-left .icons ul .fa-briefcase {
    margin-left: 30px;
    margin-right: 30px;
}

.fourth-row-left .icons ul .span2 {
    margin-left: 30px;
    margin-right: 30px;
}

.fourth-row-right {
    background: url('../images/ab1.jpg');
    height: 50vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

/* Fifth Row */
.fifth-row {
    padding-bottom: 40px;
}

.fifth-row h2 {
    color: #2A75B3;
    text-align: center;
    margin: 60px;
    font-size: 3em;
}

.fifth-row button {
    background: transparent;
    color: #999;
    border: 2px solid #999;
    padding: 6px 12px;
    margin: 0 10px 40px 10px;
}
.fifth-row-left {
    margin-top: 10px;
}

.fifth-row-left h3 {
    color: #E25112;
    padding: 20px
}

.fifth-row-left h3 span{
    color: #E25112;
    float: right;
    /* margin-right: 20px; */
}

.fifth-row-left p {
    color: #999;
    padding: 20px;
}

.fifth-row-left li {
    color: #999;
    padding-right: 10px;
}

.fifth-row .fifth-row-right {
    background: url('../images/g-bed2.jpg');
    height: 50vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


.fifth-row-b {
    padding-bottom: 40px;
}

.fifth-row-b-left {
    background: url('../images/g-bed3.jpg');
    height: 50vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fifth-row-b-right h3 {
    color: #E25112;
    padding: 20px
}

.fifth-row-b-right h3 span{
    color: #E25112;
    float: right;
    /* margin-right: 20px; */
}

.fifth-row-b-right p {
    color: #999;
    padding: 20px;
}

.fifth-row-b-right li {
    color: #999;
    padding-right: 10px;
}


/* Sixth-row */

.sixth-row {
    background: url('../images/review1.jpg');
    height: 60vh;
    object-fit: cover;
    background-size: cover;
}

.sixth-row h3 {
    color: #fff;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
}

.carousel-inner-text span{
    color: #ddd;
}

.carousel-inner-text{
    padding: 10px 40px 10px 40px;
}

.right-quote {
    height: 30px;
    width: 30px;
    float: right;
}

.customer1 {
    float: right;
    margin: 40px
}

.customer1 p {
    color: #fff;
    text-align: center;
}


.seventh-row {
    margin-bottom: 60px;
}
.seventh-row h2 {
    color: #2A75B3;
    text-align: center;
    font-size: 3em;
    margin: 60px;
}

.seventh-row .form-control {
    padding: 20px;
}

.seventh-row button {
    padding: 10px 40px;
    background: #E25112;
    color: #fff;
    border: 1px solid #E25112;
    border-radius: 3px;
}

.footer p {
    text-align: center;
}

.footer p span {
    color: #E55111;
}

.space {
    margin: 40px;
}

/* media queries */

@media screen and (max-width: 992px) {
    .pageheader-right {
        display: none;
    }

    .navbar-nav li a{
        padding: 7px;
    }

    .search-btn .form-group .fa-search {
        top: 10px !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-search {
        width: 50%;
        position: absolute;
        margin-left: 43%;
    }

    .navbar-toggle {
        margin-left: 40px;
        margin-top: 40px;
    }    

    .search-btn .form-group .fa-search {
        top: 20px !important;
        margin-left: -20px !important;
    }

    .search-btn .form-group .form-control {
        margin-top: 7px !important;
    }
    .topnav-container h2 {
        padding-top: 20px;
    }

    .navbar-default {
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px){
    .customer1 {
        display: none;
    }
}

